@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#hero-section {
    background-image: url(../public/assets/shared/desktop/bg-pattern-circle.svg);
    background-position: 100% 90%;
    background-repeat: no-repeat;
}

#desktop-background {
    background-image: url(../public/assets/shared/desktop/bg-pattern-circle.svg);
    background-position: 120% 160%;
    background-repeat: no-repeat;
}

#purpose-background {
    background-image: url(../public/assets/shared/desktop/bg-pattern-circle.svg);
    background-position: 120% 30%;
    background-repeat: no-repeat;
}

#brand-background {
    background-image: url(../public/assets/shared/desktop/bg-pattern-circle.svg);
    background-position: -30% 160%;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    #desktop-background {
        background-image: url(../public/assets/shared/desktop/bg-pattern-circle.svg);
        background-position: 100% 300%;
        background-repeat: no-repeat;
    }

    #brand-background {
        background-image: url(../public/assets/shared/desktop/bg-pattern-circle.svg);
        background-position: 100% 500%;
        background-repeat: no-repeat;
    }

    #purpose-background {
        background: transparent;
    }

  }

  @media (max-width: 480px) {
    #desktop-background {
        background-image: url(../public/assets/shared/desktop/bg-pattern-circle.svg);
        background-position: 50% -90%;
        background-repeat: no-repeat;
        background-size: 450px;
    }

    #brand-background {
        background-image: url(../public/assets/shared/desktop/bg-pattern-circle.svg);
        background-position: 50% -70%;
        background-repeat: no-repeat;
        background-size: 450px;
    }

    #purpose-background {
        background: transparent;
    }
    
  }

